TODO
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.vimrc
*.DS_STORE

logs
*.log
npm-debug.log*
lerna-debug.log*

pids
results

npm-debug.log
node_modules
app/libs
app_build

.sass-cache

.bower-storage
.vscode

.babelrc
.eslintignore
.eslintrc.json
.github
.package-lock.json
rollup.config.js
lib
.awsenv
config.js